<?xml version="1.0"?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  <xacro:include filename="$(find atlas_description)/urdf/$(optenv FLOR_ROBOT_TYPE atlas_v4_no_wry2)_simple_shapes.urdf"/>
  <xacro:include filename="$(find atlas_description)/urdf/$(optenv FLOR_ROBOT_TYPE atlas_v4_no_wry2).gazebo" />
  <xacro:include filename="$(find atlas_description)/urdf/$(optenv FLOR_ROBOT_TYPE atlas_v4_no_wry2).transmission" />
  
  <xacro:include filename="$(find multisense_sl_description)/urdf/multisense_sl_v3.urdf" />

  <!--xacro:include filename="$(find atlas_description)/robots/hands/$(env VIGIR_LEFT_GUARD_TYPE).urdf.xacro" /-->
  <!--xacro:include filename="$(find atlas_description)/robots/hands/$(env VIGIR_RIGHT_GUARD_TYPE).urdf.xacro" /-->
  
  <xacro:include filename="$(find atlas_description)/robots/hands/$(optenv FLOR_LEFT_HAND_TYPE l_stump).urdf.xacro" />
  <xacro:include filename="$(find atlas_description)/robots/hands/$(optenv FLOR_RIGHT_HAND_TYPE r_stump).urdf.xacro" />

  <!--Add a frame for use with high fidelity LIDAR projection-->
  <link name="hokuyo_spin_axis_frame"/>
  
    <joint name="l_guard_joint" type="fixed">
      <origin xyz="-0.001  0.0942 0.010" rpy="0 3.14159 0"/> 
      <parent link="l_hand"/>
      <child link="l_guard_link"/>
    </joint>

    <link name="l_guard_link">
      <inertial>
        <origin xyz="0 0 0" /> 
        <mass value="0.01" />
        <inertia  ixx="0.00000001" ixy="0.0"  ixz="0.0"  iyy="0.00000001"  iyz="0.0"  izz="0.00000001" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://atlas_description/meshes/vigir_robotiq_guard.stl"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://atlas_description/meshes/vigir_robotiq_guard.stl"/>
        </geometry>
      </collision>
    </link>
  <joint name="hokoyo_spin_axis_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${-0.0446+0.03} 0 0.0880" rpy="0 0 0"/>
    <parent link="head"/>
    <child link="hokuyo_spin_axis_frame"/>
  </joint>  
  
  
  <!--Optionally, add artag (see #2074) -->
  <!--
  <xacro:include filename="$(find flor_atlas_description)/robots/artag.urdf.xacro" />

  <xacro:artag parent="l_hand" name="artag_01">
    <origin xyz="-0.05 0 0.11" rpy="0 0 0"/>
  </xacro:artag>
  -->
  
</robot>
