<?xml version="1.0"?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="atlas" >
  <xacro:include filename="$(find atlas_description)/urdf/$(optenv VIGIR_ATLAS_ROBOT_TYPE atlas_v5)_simple_shapes.urdf"/>
  <xacro:include filename="$(find atlas_description)/urdf/$(optenv VIGIR_ATLAS_ROBOT_TYPE atlas_v5).$(optenv VIGIR_SIM_TYPE gazebo)" />
  <xacro:include filename="$(find atlas_description)/urdf/$(optenv VIGIR_ATLAS_ROBOT_TYPE atlas_v5).transmission" />
  
  <xacro:include filename="$(find atlas_description)/robots/multisense/$(optenv VIGIR_ATLAS_MULTISENSE_TYPE sim)_multisense.urdf.xacro" />
  
  <xacro:include filename="$(find atlas_description)/robots/hands/$(optenv VIGIR_ATLAS_LEFT_HAND_TYPE l_stump).urdf.xacro" />
  <xacro:include filename="$(find atlas_description)/robots/hands/$(optenv VIGIR_ATLAS_RIGHT_HAND_TYPE r_stump).urdf.xacro" />

  <!--Add a frame for use with high fidelity LIDAR projection-->
  <link name="hokuyo_spin_axis_frame"/>
  
  <joint name="hokoyo_spin_axis_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${-0.0446+0.03} 0 0.0880" rpy="0 0 0"/>
    <parent link="head"/>
    <child link="hokuyo_spin_axis_frame"/>
  </joint>  
  
  <!--
  <xacro:include filename="$(find atlas_description)/urdf/poking_stick.urdf.xacro.xml" />
  
  <xacro:poking_stick_macro parent="utorso" prefix="left" length="0.15">
    <origin xyz="0.35 0.1128 0.3805" rpy="0 0 0"/>
  </xacro:poking_stick_macro>
  
  <xacro:poking_stick_macro parent="utorso" prefix="right" length="0.15">
    <origin xyz="0.35 -0.1128 0.3805" rpy="0 0 0"/>
  </xacro:poking_stick_macro>
  -->
  
  
  <!--Optionally, add artag (see #2074) -->
  <!--
  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/artag.urdf.xacro" />

  <xacro:artag parent="l_hand" name="artag_01">
    <origin xyz="-0.05 0 0.11" rpy="0 0 0"/>
  </xacro:artag>
  -->
  
</robot>
