<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hook_hand">

<!-- roslaunch urdf_tutorial display.launch model:=handle.urdf gui:=True -->
<!-- rosrun xacro xacro.py handle_urdf.xacro > handle.urdf -->
<!-- tip: use measurements from solid to find the origins and length -->


<xacro:macro name="flor_hook_hand" params="side parent *origin">
  
  <!-- joint to irobot hand -->
  <joint name="${side}_hook_hand_joint" type="fixed">
    <insert_block name="origin"/>
    <parent link="${parent}"/>
    <child link="${side}_hook_base_link"/>
  </joint>

  <link name="${side}_hook_base_link">
      <inertial>
        <mass value="0.336"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      </inertial>
    <collision>
      <geometry>
        <mesh filename="package://vigir_atlas_addons_description/meshes/hook_convex.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0.0 -0.0"/>
    </collision>
    <visual>
      <geometry>
        <mesh filename="package://vigir_atlas_addons_description/meshes/hook_convex.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 -0.0 -0.0"/>  
      <material name="darkgray">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
  </link>

</xacro:macro>

</robot>
