<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="irobot_hand_geometries">


<xacro:macro name="base_rotation_link_collisions">
    <collision>
      <origin xyz="0 0.02 0.045" rpy="0 0 0"/>
      <geometry>
        <box size="0.114 0.1 0.075"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="0 -0.02 0.045" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0448" length="0.075"/>
      </geometry>
    </collision>
</xacro:macro>

<xacro:macro name="base_rotation_link_collisions">
      <collision>
        <origin xyz="0 0 -.0025" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.0145" radius="0.025"/>
        </geometry>
      </collision>

      <collision>
        <origin xyz="0 0 -.0104" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.0145" radius="0.0165"/>
        </geometry>
      </collision>

      <collision>
        <origin xyz="0 0 .0135" rpy="1.5707 0 1.5707"/>
        <geometry>
          <cylinder length="0.02" radius="0.002"/>
        </geometry>
      </collision>

      <collision>
        <origin xyz="0.013 0 .0135" rpy="1.5707 0 1.5707"/>
        <geometry>
          <cylinder length="0.008" radius="0.009"/>
        </geometry>
      </collision>

      <collision>
        <origin xyz="-0.013 0 .0135" rpy="1.5707 0 1.5707"/>
        <geometry>
          <cylinder length="0.008" radius="0.009"/>
        </geometry>
      </collision>
</xacro:macro>

<!-- Simplified collisions for the proximal_link on all fingers -->
<xacro:macro name="proximal_link_collisions">
      <collision>
        <origin xyz="0 0.0028 0.033" rpy="0 0 0"/>
        <geometry>
          <box size="0.018 0.019 0.055"/>
        </geometry>
      </collision>

      <collision>
        <origin xyz="0 0 0" rpy="0 1.5707 0"/>
        <geometry>
          <cylinder radius="0.009" length="0.018"/>
        </geometry>
      </collision>
</xacro:macro>

<!-- Simplified collisions for the distal_link on all fingers -->
<xacro:macro name="distal_link_collisions">
      <collision>
        <origin xyz="0 0.0024 0.02276" rpy="3.141590 0.001593
             3.141590"/>
        <geometry>
          <box size="0.0175 0.02011 0.03195"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0 0.004 0.0375" rpy="1.57078 0.001593 1.57078"/>
        <geometry>
          <cylinder radius="0.00848" length="0.0175"/>
        </geometry>
      </collision>

      <collision>
        <origin xyz="0 -0.00529 0.0395" rpy="1.57078 0.001593 0"/>
        <geometry>
          <cylinder radius="0.00750" length="0.00159"/>
        </geometry>
      </collision>
</xacro:macro>

</robot>
