<?xml version="1.0"?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="l_stump" >

  <xacro:macro name="hand_guard_collision_macro">
      <visual>
        <origin xyz="0 -0.115 0" rpy="0 -1.57 0"/>
        <geometry>
            <mesh filename="package://vigir_atlas_addons_description/meshes/vigir_robotiq_guard.stl" />
        </geometry>
        <material name="black">
            <color rgba="0 0 0 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 -0.115 0" rpy="0 -1.57 0"/>
        <geometry>
            <mesh filename="package://vigir_atlas_addons_description/meshes/vigir_robotiq_guard.stl" />
        </geometry>
            <material name="yellow">
        <color rgba="0 1 1 1"/>
        </material>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.5"/>
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      </inertial>
  </xacro:macro>

</robot>
