<?xml version="1.0"?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="l_hook" >
    
  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/flor_hook_hand.urdf.xacro" />

  <xacro:flor_hook_hand side="left" parent="l_hand">
    <origin rpy="0.0 0.0 0.0" xyz="0.0  0.13 0.0115"/>
  </xacro:flor_hook_hand>
</robot>
