<?xml version="1.0" ?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="l_robotiq" >

  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/flor_robotiq_hand_with_poking_stick.urdf.xacro" />
  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/$(optenv VIGIR_LEFT_GUARD_TYPE l_no_guard)_robotiq_hand_macros.urdf.xacro" />
  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/vigir_robotiq_palm_camera.urdf.xacro" />
  	
  <xacro:s-model_articulated_with_poking_stick prefix="left" parent="l_hand">
    <origin rpy="0 -1.57 3.14159" xyz="0 -0.175 0.0"/>
  </xacro:s-model_articulated_with_poking_stick>

  <xacro:palm_camera prefix="left" />
  
  <!-- Set the initial hand position and orientation by changing 'rpy' and 'xyz'
  to mach the values in your actual robot. 
  <xacro:include filename="$(find robotiq_hand_description)/urdf/robotiq_hand.urdf.xacro" />

  <xacro:robotiq_hand prefix="left_" parent="l_hand" reflect="-1">
    <origin rpy="3.14159 -1.57 3.14159" xyz="-0.00125 0.17 0.01"/>
  </xacro:robotiq_hand>-->

  <gazebo>
    <plugin name="left_robotiq_hand_plugin" filename="libVigirRobotiqHandPlugin.so">
      <side>left</side>
      <kp_position>5.0</kp_position>
      <kd_position>0.5</kd_position>
    </plugin>
  </gazebo>
  
</robot>
