<?xml version="1.0" ?>

<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="r_robotiq" >
  
  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/flor_robotiq_hand.urdf.xacro" />
  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/$(optenv VIGIR_RIGHT_GUARD_TYPE r_no_guard)_robotiq_hand_macros.urdf.xacro" />
  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/vigir_robotiq_palm_camera.urdf.xacro" />

  <xacro:s-model_articulated prefix="right" parent="r_hand">
    <origin rpy="3.14159 -1.57 0" xyz="0 -0.175 0.0"/>
  </xacro:s-model_articulated>
  
  <xacro:palm_camera prefix="right" />

  <!-- Set the initial hand position and orientation by changing 'rpy' and 'xyz'
  to mach the values in your actual robot. 
  <xacro:include filename="$(find robotiq_hand_description)/urdf/robotiq_hand.urdf.xacro" />

  <xacro:robotiq_hand prefix="right_" parent="r_hand" reflect="1">
    <origin rpy="3.14159 -1.57 0" xyz="-0.00125 -0.17 0.01"/>
  </xacro:robotiq_hand>-->  

  <gazebo>
    <plugin name="right_robotiq_hand_plugin" filename="libVigirRobotiqHandPlugin.so">
      <side>right</side>
      <kp_position>5.0</kp_position>
      <kd_position>0.5</kd_position>
    </plugin>
  </gazebo>
  
</robot>
