<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="humanoid" >
  
  <!-- Commenting out urdf with meshes, using simple collision shapes instead -->
  <xacro:include filename="$(find vigir_atlas_addons_description)/robots/flor_hook_hand.urdf.xacro" />

  <link name="r_hand">
    <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
    </inertial>
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.005 0.005 0.005" />
        </geometry>
    </visual>
    <collision>
        <origin xyz="0 0 0.25" rpy="0 0 0" />
        <geometry>
            <box size="0.005 0.005 0.005" />
        </geometry>
    </collision>
  </link>

  <xacro:flor_hook_hand side="right" parent="r_hand">
    <origin rpy="0.0 0.0 3.141592" xyz="0.0  0.0 0.0"/>
  </xacro:flor_hook_hand>
</robot>
