<?xml version="1.0"?>

<launch>

  <arg name="robot_description" default="$(find xacro)/xacro.py '$(find atlas_description)/robots/atlas_v5.urdf.xacro'"/>
  
  <param name="robot_description" command="$(arg robot_description)" />
  <param name="use_gui" value="True"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find atlas_description)/rviz/xacrodisplay.rviz"/>
</launch>
