<?xml version="1.0"?>
<!--Provides enlarged hand links for self filtering-->
<robot name="drc_skeleton">

  <link name="l_hand">
    <inertial>
      <mass value="0.5839" />
      <origin xyz="0.00016 0.08159 0.00002" rpy="0 0 0" />
      <inertia ixx="0.000388" ixy="0" ixz="0" iyy="0.000477" iyz="0" izz="0.000379" />
    </inertial>
  </link>


  <link name="r_hand">
    <inertial>
      <mass value="0.5839" />
      <origin xyz="0.00016 -0.08159 0.00002" rpy="0 0 0" />
      <inertia ixx="0.000388" ixy="0" ixz="0" iyy="0.000477" iyz="0" izz="0.000379" />
    </inertial>
  </link>

</robot>
